body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

a.button:hover {
    background-color: #218838;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.user-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-info {
    flex-grow: 1;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form .error {
    color: red;
    font-size: 0.9em;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

form input[type="text"], form input[type="number"], form input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .button {
    background-color: #007bff;
    color: white;
    width: calc(100%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .button:hover {
    background-color: #0056b3;
}

.profile-head {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: bottom 0.5s ease-out;
    background: #007bff;
}
.user-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    display: flex;
    flex-direction: column;
}

.profile-head-container {
    height: 100%;
    width: 50px;
    padding: 0 5px;
    position: relative;
}
